<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title> Silnik EJS wyświetla oczyszczone wartości przez
    użycie
    <%= wartość %>.
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Zdjęcia</h1>
    <p>Aplikacja Express do pracy ze zdjęciami.</p>
    <div id="photos">
        <% photos.forEach(function(photo) { %> Silnik EJS wykonuje czysty kod
        JavaScript przez użycie
        <% kod %>.
        <div class="photo">
            <h2>
                <%=photo.name%>
            </h2><img src='<%=photo.path%>' />
        </div>
        <% }) %>
    </div>
</body>

</html>